<launch>

    <node name="waypoint_node" pkg="fetch_vr_backend" type="waypoint_node" />
    <node name="gripper_node" pkg="fetch_vr_backend" type="gripper_node" />
    <!-- <node name="direct_control_node" pkg="fetch_vr_backend" type="direct_control_node" /> -->
    <!-- <node name="nav_node" pkg="fetch_vr_backend" type="nav_node" /> -->
    <node name="nav_plan_node" pkg="fetch_vr_backend" type="nav_plan_node" />
    <node name="arm_command_node" pkg="fetch_vr_backend" type="arm_command_node" />
    <node name="head_command_node" pkg="fetch_vr_backend" type="head_command_node" />

</launch>
