<launch>
    <!-- Setting various parameters -->
    <arg name="robot" default="fetch"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="world" default="$(find FetchVRbackend)/world/simple_screw.world"/>
    <arg name="x" default="-1.0" />
    <arg name="y" default="-0.5" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.0" />

    <!-- Start Gazebo with a custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- Oh, you wanted a robot? -->
    <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="yaw" value="$(arg yaw)" />
    </include>

    <node name="waypoint_node" pkg="FetchVRbackend" type="waypoint_node" />
    <node name="gripper_node" pkg="FetchVRbackend" type="gripper_node" />
    <node name="direct_control_node" pkg="FetchVRbackend" type="direct_control_node" />
    <node name="nav_node" pkg="FetchVRbackend" type="nav_node" />
    <node name="arm_command_node" pkg="FetchVRbackend" type="arm_command_node" />

</launch>
